In [1]:
import pandas as pd
import numpy as np
import timeit

#wylaczenie warnings bo uruchamia sie w trakcie remove_html_tags
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [2]:
#data= pd.read_csv("cities.csv")
#data= pd.read_csv("districts.csv")
%time df= pd.read_csv("C:/Users/Kacper/Desktop/Otodom-PROJEKT/train.csv", nrows=5000)
#laduje okolo pol minuty calosc u mnie

Wall time: 368 ms

In [3]:
df.describe()

,id,is_business,district_id,city_id,region_id,price
count,5000.000000,5000.000000,2912.000000,5000.000000,5000.000000,5.000000e+03
mean,489057.984400,0.906200,15056.230082,3199.823600,7.959400,5.491593e+05
std,271691.968481,0.291579,53109.487406,10017.701359,4.533019,6.047872e+05
min,143.000000,0.000000,1.000000,1.000000,1.000000,2.500000e+04
25%,262188.500000,1.000000,48.000000,38.000000,6.000000,2.846032e+05
50%,486927.500000,1.000000,474.000000,181.000000,7.000000,4.000000e+05
75%,718852.500000,1.000000,3272.250000,1014.250000,12.000000,5.990000e+05
max,990977.000000,1.000000,300644.000000,73131.000000,16.000000,1.500000e+07

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5000 non-null   int64
 1   created_at_first  5000 non-null   object
 2   category          5000 non-null   object
 3   is_business       5000 non-null   int64
 4   district_id       2912 non-null   float64
 5   city_id           5000 non-null   int64
 6   region_id         5000 non-null   int64
 7   description       5000 non-null   object
 8   params            5000 non-null   object
 9   title             4324 non-null   object
 10  price             5000 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 429.8+ KB

In [5]:
#braki w district_id oraz title

In [6]:
df['description'] = df['description'].astype(str)
df['title'] = df['title'].astype(str)
#dalej pozostal object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5000 non-null   int64
 1   created_at_first  5000 non-null   object
 2   category          5000 non-null   object
 3   is_business       5000 non-null   int64
 4   district_id       2912 non-null   float64
 5   city_id           5000 non-null   int64
 6   region_id         5000 non-null   int64
 7   description       5000 non-null   object
 8   params            5000 non-null   object
 9   title             5000 non-null   object
 10  price             5000 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 429.8+ KB

In [8]:
df.nunique()

id                  5000
created_at_first    5000
category               2
is_business            2
district_id          700
city_id              980
region_id             16
description         4921
params              4969
title               4223
price               1736
dtype: int64

In [9]:
#df = pd.get_dummies(data=df, columns = ['category']) # to by rozdzieliło na dwie chyba dobre jak nie ma hierarchii
df['category'] = df['category'].eq('Mieszkanie na sprzedaż').astype(int)
df.rename({'category': 'is_flat'}, inplace=True)

In [10]:
df.head()

,id,created_at_first,category,is_business,district_id,city_id,region_id,description,params,title,price
0,325017,2018-10-06 12:20:48,1,1,12867.0,210,14,<p><br/>Oferuję na sprzedaż&nbsp;<strong>miesz...,price[currency]<=>PLN<br>m<=>72.14<br>rooms_nu...,Nowa inwestycja na Dajtkach - mieszkania od 70...,389556
1,513427,2019-02-18 12:17:51,1,1,NaN,3614,15,<p>[b]Plewiska lokal 2-poziomowy w zabudowie s...,price[currency]<=>PLN<br>m<=>95<br>rooms_num<=...,Plewiska mieszkanie 2-poziomowe z ogródkiem,500000
2,824979,2019-03-21 17:31:09,1,1,3434.0,204,10,"<p>Polecamy trzypokojowe, dwustronne i bardzo ...",price[currency]<=>PLN<br>m<=>58.9<br>rooms_num...,Mieszkanie z potencjałem / Zielone Wzgórza,238000
3,400727,2018-11-28 23:50:45,1,1,87.0,1,15,<p><br/>Kupując z pośrednikiem - kupujesz bezp...,price[currency]<=>PLN<br>m<=>45<br>rooms_num<=...,"Poznań, Łazarz, mieszkanie 2 pokojowe",209000
4,298324,2019-01-22 21:22:42,0,0,NaN,11879,7,<p>Nowy dom wolnostojący o powierzchni 195 m<P...,price[currency]<=>PLN<br>terrain_area<=>3201<b...,Piękny dom na wsi w okolicy Nowego Dworu Maz.,729000

In [11]:
#!pip install bs4
#!pip install beautifulsoup4

In [12]:
# to show the complete, non-truncated text data for each element / zeby nie ucinalo mi opisu [...] 
# jak wyswietlam w notebooku

pd.set_option('display.max_colwidth', 500000) # untruncated columns\nie obcina kolumn przy wyswietlaniu np head
# instead of using df.head u can set max_rows and simply df
pd.set_option('display.max_rows', 2)
# checking
# pd.options.display.max_colwidth

# You can use reset_option() to revert to a setting’s default value

# pd.reset_option("display.max_rows")
df

,id,created_at_first,category,is_business,district_id,city_id,region_id,description,params,title,price
0,325017,2018-10-06 12:20:48,1,1,12867.0,210,14,"<p><br/>Oferuję na sprzedaż&nbsp;<strong>mieszkanie w nowej inwestycji deweloperskiej obejmującej zaledwie 10 kameralnych lokali znajdujących się w nowym budynku zlokalizowanym na osiedlu Dajtki, przy ul. Bławatnej</strong>.&nbsp;</p><p></p><p>Całość wykończona materiałami najwyższej jakości z niezwykłą dbałością o każdy detal!&nbsp;</p><p></p><p>Zapraszam do zapoznania się z filmem promocyjnym pod niniejszym linkiem:<br/><URL></p><p></p><p>Budynek jednopiętrowy wzniesiony w technologii tradycyjnej, murowanej. Okna PCV w pakietach trzyszybowych z zewnątrz wykończone okleiną imitującą drewno.&nbsp;Duże otwory okienne zapewniają doskonałe oświetlenie wnętrz światłem naturalnym.&nbsp;</p><p></p><p>Prezentowane lokale są dwustronne - wystawa południowo-wschodnia oraz pólnocno-zachodnia. Mieszkanie składa się z przestronnego pokoju dziennego połączonego z aneksem kuchennym, trzech sypialni, komunikacji oraz łazienki wspólnej z wc.&nbsp;Jako mieszkaniec tej inwestycji będziesz mógł korzystać z ogródków (parter) oraz dużych balkonów (I piętro). Dokładny układ pomieszczeń oraz strony świata przedstawiliśmy dla Ciebie na rzucie 3D.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p><p></p><p>Źródłem ciepła dla mieszkania będzie piec dwufunkcyjny gazowy (w pakiecie). W przedpokoju oraz w łazience wykonano ogrzewanie podłogowe.&nbsp;Budynek jest niepodpiwniczony, jednakże każdy z mieszkańców otrzymuje udział w rowerowi oraz udział do wspólnego korzystania z terenu przed budynkami.</p><p>&nbsp;</p><p>Na każde dwa mieszkania przypada 1 segment, co sprawia, że sprzedawane mieszkania będą bezczynszowe. Płacisz jedynie za media które zużywasz według wskazania licznika (prąd, woda, gaz). Teren ogrodzony, wyposażony w domofony i oświetlenie z zewnątrz.</p><p></p><p>Niewątpliwym atutem nieruchomości jest lokalizacja, która z jednej strony zapewnia doskonałą komunikację, bliskość centrum miasta",price[currency]<=>PLN<br>m<=>72.14<br>rooms_num<=>4<br>market<=>secondary<br>building_type<=><br>floor_no<=>floor_1<br>building_floors_num<=>1<br>building_material<=><br>windows_type<=>plastic<br>heating<=><br>build_year<=>2018<br>construction_status<=><br>rent<=>price<br>rent<=><br>rent[currency]<=>PLN<br>building_ownership<=><br>free_from<=><br>media_types<=><br>security_types<=><br>equipment_types<=><br>extras_types<=>balcony<br>,Nowa inwestycja na Dajtkach - mieszkania od 70 m2!,389556
...,...,...,...,...,...,...,...,...,...,...,...
4999,183702,2019-01-04 08:31:52,1,1,126939.0,38,6,<p>Wielofunkcyjny i samowystarczalny projekt Mieszkaj w Mieście zakłada realizację Osiedla Wizjonerów w krakowskich Bronowicach. Jest to pierwsza inwestycja deweloperska polskiej spółki Henniger Investment S.A. Autorem projektu architektonicznego jest jedno z najlepszych biur architektonicznych w kraju – Medusa Group Architects.</p>,price[currency]<=>PLN<br>m<=>52.75<br>rooms_num<=>2<br>market<=>primary<br>building_type<=><br>floor_no<=><br>building_floors_num<=>7<br>building_material<=><br>windows_type<=><br>heating<=><br>build_year<=><br>construction_status<=><br>rent<=>price<br>rent<=><br>rent[currency]<=>PLN<br>building_ownership<=><br>free_from<=><br>media_types<=>0<br>security_types<=>0<br>equipment_types<=>0<br>extras_types<=>0<br>,Piękne mieszkanie na sprzedaż,412800

In [13]:
from bs4 import BeautifulSoup # biblioteka do scrapowania htmla lub xml
# documentation 
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/
# we need to parse (extract) text
def remove_html_tags(text):
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text()

# Zastosowanie funkcji do usuwania znaczników HTML i zastąpienie kolumny
df['description'] = df['description'].apply(remove_html_tags)
df
#sprobowalem uruchomic na calym pliku train.csv - trwa mega długo

,id,created_at_first,category,is_business,district_id,city_id,region_id,description,params,title,price
0,325017,2018-10-06 12:20:48,1,1,12867.0,210,14,"Oferuję na sprzedaż mieszkanie w nowej inwestycji deweloperskiej obejmującej zaledwie 10 kameralnych lokali znajdujących się w nowym budynku zlokalizowanym na osiedlu Dajtki, przy ul. Bławatnej. Całość wykończona materiałami najwyższej jakości z niezwykłą dbałością o każdy detal! Zapraszam do zapoznania się z filmem promocyjnym pod niniejszym linkiem:Budynek jednopiętrowy wzniesiony w technologii tradycyjnej, murowanej. Okna PCV w pakietach trzyszybowych z zewnątrz wykończone okleiną imitującą drewno. Duże otwory okienne zapewniają doskonałe oświetlenie wnętrz światłem naturalnym. Prezentowane lokale są dwustronne - wystawa południowo-wschodnia oraz pólnocno-zachodnia. Mieszkanie składa się z przestronnego pokoju dziennego połączonego z aneksem kuchennym, trzech sypialni, komunikacji oraz łazienki wspólnej z wc. Jako mieszkaniec tej inwestycji będziesz mógł korzystać z ogródków (parter) oraz dużych balkonów (I piętro). Dokładny układ pomieszczeń oraz strony świata przedstawiliśmy dla Ciebie na rzucie 3D. Źródłem ciepła dla mieszkania będzie piec dwufunkcyjny gazowy (w pakiecie). W przedpokoju oraz w łazience wykonano ogrzewanie podłogowe. Budynek jest niepodpiwniczony, jednakże każdy z mieszkańców otrzymuje udział w rowerowi oraz udział do wspólnego korzystania z terenu przed budynkami. Na każde dwa mieszkania przypada 1 segment, co sprawia, że sprzedawane mieszkania będą bezczynszowe. Płacisz jedynie za media które zużywasz według wskazania licznika (prąd, woda, gaz). Teren ogrodzony, wyposażony w domofony i oświetlenie z zewnątrz.Niewątpliwym atutem nieruchomości jest lokalizacja, która z jednej strony zapewnia doskonałą komunikację, bliskość centrum miasta",price[currency]<=>PLN<br>m<=>72.14<br>rooms_num<=>4<br>market<=>secondary<br>building_type<=><br>floor_no<=>floor_1<br>building_floors_num<=>1<br>building_material<=><br>windows_type<=>plastic<br>heating<=><br>build_year<=>2018<br>construction_status<=><br>rent<=>price<br>rent<=><br>rent[currency]<=>PLN<br>building_ownership<=><br>free_from<=><br>media_types<=><br>security_types<=><br>equipment_types<=><br>extras_types<=>balcony<br>,Nowa inwestycja na Dajtkach - mieszkania od 70 m2!,389556
...,...,...,...,...,...,...,...,...,...,...,...
4999,183702,2019-01-04 08:31:52,1,1,126939.0,38,6,Wielofunkcyjny i samowystarczalny projekt Mieszkaj w Mieście zakłada realizację Osiedla Wizjonerów w krakowskich Bronowicach. Jest to pierwsza inwestycja deweloperska polskiej spółki Henniger Investment S.A. Autorem projektu architektonicznego jest jedno z najlepszych biur architektonicznych w kraju – Medusa Group Architects.,price[currency]<=>PLN<br>m<=>52.75<br>rooms_num<=>2<br>market<=>primary<br>building_type<=><br>floor_no<=><br>building_floors_num<=>7<br>building_material<=><br>windows_type<=><br>heating<=><br>build_year<=><br>construction_status<=><br>rent<=>price<br>rent<=><br>rent[currency]<=>PLN<br>building_ownership<=><br>free_from<=><br>media_types<=>0<br>security_types<=>0<br>equipment_types<=>0<br>extras_types<=>0<br>,Piękne mieszkanie na sprzedaż,412800

In [14]:
len(df.description)

5000

In [15]:
%timeit -n 1 -r 1
from bs4 import BeautifulSoup # biblioteka do scrapowania htmla lub xml
# documentation 
# https://www.crummy.com/software/BeautifulSoup/bs4/doc/
# we need to parse (extract) text
def remove_html_tags(text):
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text()

# Zastosowanie funkcji do usuwania znaczników HTML i zastąpienie kolumny
df['description'] = df['description'].apply(remove_html_tags)
# df

In [16]:
%%timeit -n 1 -r 1
#musi byc po 1 bo nie wykona kilka razy zamiany na liczbe
#Opcje -n 1 -r 1 oznaczają, że %timeit ma wykonać pętlę tylko raz (-n 1) i jednorazowo (-r 1)
#Opcja -r określa liczbę zbiorów testów, czyli ile razy cały test czasu będzie powtórzony.
# Ustawienie -r 3 oznacza, że cały test czasu (zawierający -n powtórzeń) zostanie powtórzony trzy razy.

# I sposob
# for i in range(len(df.description)):
#     df.description[i]=len(df.description[i]) 

# niby dziala ale wywala ostrzezenie ze niewiadomo czy zmieniam oryginalne df lepiej uzyc loc albo apply

# II sposob
# for i in range(len(df.description)):
#     df.loc[i, 'description'] = len(df.loc[i, 'description'])

#z funkcja anonimowa
# df['description'] = df['description'].apply(lambda x: len(x))
    
# pandas.apply
#Apply a function along an axis of the DataFrame.
df['description'] = df['description'].apply(len)


#########
# three methods I used for 5000 rows had times around of 4.5 seconds, 1 second, and 18 ms, 7ms respectively
#beacuse we run it only 1 time it will differ much everytime beacuse it will depend on current cpu usage

8.43 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [17]:
df['title'] = df['title'].apply(len)

In [18]:
df

,id,created_at_first,category,is_business,district_id,city_id,region_id,description,params,title,price
0,325017,2018-10-06 12:20:48,1,1,12867.0,210,14,1693,price[currency]<=>PLN<br>m<=>72.14<br>rooms_num<=>4<br>market<=>secondary<br>building_type<=><br>floor_no<=>floor_1<br>building_floors_num<=>1<br>building_material<=><br>windows_type<=>plastic<br>heating<=><br>build_year<=>2018<br>construction_status<=><br>rent<=>price<br>rent<=><br>rent[currency]<=>PLN<br>building_ownership<=><br>free_from<=><br>media_types<=><br>security_types<=><br>equipment_types<=><br>extras_types<=>balcony<br>,50,389556
...,...,...,...,...,...,...,...,...,...,...,...
4999,183702,2019-01-04 08:31:52,1,1,126939.0,38,6,327,price[currency]<=>PLN<br>m<=>52.75<br>rooms_num<=>2<br>market<=>primary<br>building_type<=><br>floor_no<=><br>building_floors_num<=>7<br>building_material<=><br>windows_type<=><br>heating<=><br>build_year<=><br>construction_status<=><br>rent<=>price<br>rent<=><br>rent[currency]<=>PLN<br>building_ownership<=><br>free_from<=><br>media_types<=>0<br>security_types<=>0<br>equipment_types<=>0<br>extras_types<=>0<br>,29,412800