## Zamiana created_at_first na typ datetime

In [1]:
import pandas as pd
from datetime import datetime

In [21]:
df = pd.read_csv('C:\\Users\\48509\\Desktop\\V_semestr\\ATLAS\\train.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832011 entries, 0 to 832010
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                832011 non-null  int64
 1   created_at_first  832011 non-null  object
 2   category          832011 non-null  object
 3   is_business       832011 non-null  int64
 4   district_id       537760 non-null  float64
 5   city_id           832011 non-null  int64
 6   region_id         832011 non-null  int64
 7   description       832011 non-null  object
 8   params            832011 non-null  object
 9   title             692252 non-null  object
 10  price             832011 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 69.8+ MB

In [23]:
nowa = pd.to_datetime(df["created_at_first"])
nowa.head()

0   2018-10-06 12:20:48
1   2019-02-18 12:17:51
2   2019-03-21 17:31:09
3   2018-11-28 23:50:45
4   2019-01-22 21:22:42
Name: created_at_first, dtype: datetime64[ns]

In [27]:
nowa.iloc[1].year

2019

In [13]:
# sposob pierwszy to dodanie nowej kolumny, zeby tamtej nie stracic, ale w sumie nie wiem czy to sie do czegos przyda
#df["date_time"] = nowa

In [31]:
# drugi sposob to po prostu zamiana i zostaje tyle samo kolumn, nie robi sie smietnik z ramki danych
#df["created_at_first"] = nowa

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832011 entries, 0 to 832010
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                832011 non-null  int64
 1   created_at_first  832011 non-null  datetime64[ns]
 2   category          832011 non-null  object
 3   is_business       832011 non-null  int64
 4   district_id       537760 non-null  float64
 5   city_id           832011 non-null  int64
 6   region_id         832011 non-null  int64
 7   description       832011 non-null  object
 8   params            832011 non-null  object
 9   title             692252 non-null  object
 10  price             832011 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 69.8+ MB